:root {
    --rgba-blue :rgba(3, 248, 252,0.3);
    --rgba-white:rgba(250,250,250,0.2);
    --btn-gray :#555;
    --btn-gray-dark:#333;
    --btn--black:#222;
    --text-shadow-light: 1px 1px 2px #333;
    --text-shadow-large:0 0 5px #111;
    --btn-color-aqua:#82d0e0;
}



@media screen and (max-width:700px){

    header ul{
        background-color: var(--rgba-blue) ;
        position:absolute;
        right:0;
        top:72px;
        height:70vh;
        width:25vh;
        flex-direction:column;
        align-items:center;
        display:none;
        opacity:0;
        z-index:3;
        transition:all ease 0.4s;

    }
    header li{
        margin-top:15px;
    }
    .menu{display:block;}
    .menu-image{display:block;}
}