:root {
    --rgba-blue :rgba(3, 248, 252,0.3);
    --rgba-white:rgba(250,250,250,0.2);
    --btn-gray :#555;
    --btn-gray-dark:#333;
    --btn--black:#222;
    --text-shadow-light: 1px 1px 2px #333;
    --text-shadow-large:0 0 5px #111;
    --btn-color-aqua:#82d0f9;
}



@media screen and (max-width:700px){

    header ul{
        background-color: var(--btn-color-aqua) ;
        position:absolute;
        right:0;
        top:72px;
        height:70vh;
        width:25vh;
        flex-direction:column;
        align-items:center;
        display:none;
        opacity:0;
        z-index:20;
        transition:all ease 0.4s;

    }
    header li{
        margin-top:15px;
    }
    .menu{display:block;}
    .menu-image{display:block;}
    .one {
        font-size:45px;
    }
    section.opcoes-lazer .container{
        grid-template-columns:repeat(3,1fr);
    }
    .opcoes-lazer--box{
        margin:10px 0;
        
    }
    .opcoes-lazer--box:nth-of-type(3){
        border-right:2px solid #314661;
    }  
}

@media screen and (max-width:450px){
    header > .container{
        justify-content:flex-start;
    }    
    header img{
        margin-right:10px;
        width:50px;
    }
    section.template > .container{
        grid-template-areas:
          "one one "
          " two two"
          "three three "
        ;
    }
    .one {
        font-size:40px;
    }
    .two .template-button{
        padding:7px;
        font-size:13px;
    }
    section.opcoes-lazer .container{
        grid-template-columns:repeat(2,1fr);
    }
    .opcoes-lazer--box:nth-of-type(3){
        border-right:none;
    } 
    .opcoes-lazer--box:nth-of-type(2),
    .opcoes-lazer--box:nth-of-type(4){
        border-right:2px solid #314661;
    }   
}