

@media screen and (max-width: 768px){
    .header-logo{
        flex:1;
        justify-content: space-evenly;
    }
    .header-logo h1{
        font-size:30px;
        margin-left:10px;
    }
    .header-logo img{width:40px;}
    header ul{
        display:none;
        flex-direction:column;
        align-items:center;
        width:180px;
        height:calc(100vh - 78px);
        position:absolute;
        top:80px;
        right:0;
        background-color:rgba(10, 221, 240, 0.8);
        padding:20px 5px;
    }
    header li {
        margin:20px 0;
    }
    li.image{display:block}
    .menu{display:block;}
    .banner-text > .container{
        flex-direction:column;
    }
    .banner-titulo{
        flex-direction:column;
    }
    .banner-lazer{
        margin:auto;
        width:95%;
        font-size:15px;
        padding:15px;
    }
    .banner-titulo h2{
        
        max-width:600px;
        color:#fff;
        text-shadow:1px 1px 0 #ddd;
        font-family:Helvetica,serif;
    }
    .banner-modal{
        justify-content:flex-end;
        margin:20px 0;
    }
    section.atracoes > .container{
      grid-template-columns:repeat(3,1fr);
    }
    section.atracoes .atracoes-box{
        margin-bottom:10px;
    }
    section.atracoes .atracoes-box:nth-of-type(1),
    section.atracoes .atracoes-box:nth-of-type(4){
        border-left:0;
    }
    
    
}


@media screen and (max-width: 400px){
   
    .header-logo{
        justify-content: flex-start;
    }
    .header-logo h1{
        font-size:25px;
    }
    .header-logo img{
        width:25px;
        height:25px;
    }
    section.banner{
        width:100%;
        min-height:800px;
        height:auto;
          
    }
    section.atracoes .atracoes-box{
        color:#028995;
        text-align:center;
        font-size:50px;
        padding:5px;
        border-left:2px solid #028995;
        margin-bottom:10px;
    }
    .atracoes-box h3{
        font-size:15px;
        margin-bottom:20px;
    }
    
}